.DS_Store
.env

# 開発環境に関するファイル以外を無視
wordpress/*
theme/img/*
theme/js/*
theme/css/*
theme/templates/*
theme/functions.php
theme/style.css
docker/mysql/initdb/*
docker/mysql/storage/*
node_modules

dist/*