@charset "UTF-8";
/*
  Made by Elly Loel - https://ellyloel.com/
  参考記事:
    - Josh W Comeau - https://courses.joshwcomeau.com/css-for-js/treasure-trove/010-global-styles/
    - Andy Bell - https://piccalil.li/blog/a-modern-css-reset/
    - Adam Argyle - https://unpkg.com/open-props@1.3.16/normalize.min.css / https://codepen.io/argyleink/pen/KKvRORE
  メモ:
    - :where()は簡単に上書きできるように詳細度を低くするために使用しています。
*/
* {
  /* すべてのデフォルトのマージンを削除 */
  margin: 0;
  /* すべてのデフォルトのパディングを削除 */
  padding: 0;
  /* line-heightをemベースでcalc()で計算。font-sizeを小さくするとline-heightは大きくなり、font-sizeを大きくするとline-heightは小さくなります。参考: https://kittygiraudel.com/2020/05/18/using-calc-to-figure-out-optimal-line-height/ */
  line-height: calc(0.25rem + 1em + 0.25rem);
}

/* より直感的なボックスサイズのモデルを使用 */
*,
::before,
::after {
  box-sizing: border-box;
}

/* fieldset, progress, meter以外のすべての要素でボーダーを削除し、背景に適切なデフォルトを設定 */
*:where(:not(fieldset, progress, meter)) {
  border-collapse: collapse;
  border-width: 0;
  border-style: solid;
  background-origin: border-box;
  background-repeat: no-repeat;
}

html {
  /* アプリケーションでパーセントによる高さを許可する  */
  block-size: 100%;
  /* テキストのサイズはfont-sizeのみで制御されるようにする */
  -webkit-text-size-adjust: none;
}

/* 減速を好まないユーザーのためにスムーズなスクロールを実現 */
body {
  /* テキストのレンダリングを改善 */
  -webkit-font-smoothing: antialiased;
  /* https://marco.org/2012/11/15/text-rendering-optimize-legibility */
  text-rendering: optimizeSpeed;
  /* アプリケーションでパーセントによる高さを許可する */
  min-block-size: 100%;
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/scrollbar-gutter#example_2 */
  /* scrollbar-gutter: stable both-edges; バグが修正されるまで削除: https://bugs.chromium.org/p/chromium/issues/detail?id=1318404#c2 */
}

/* 各メディア要素のデフォルトを改善 */
:where(img, svg, video, canvas, audio, iframe, embed, object) {
  display: block;
}

:where(img, svg, video) {
  block-size: auto;
  max-inline-size: 100%;
}

/* ストロークを削除し、fillの塗りつぶしカラーはフォントカラーを継承 */
:where(svg) {
  stroke: none;
  fill: currentColor;
}

/* fill属性のないSVG */
:where(svg):where(:not([fill])) {
  /* fillを取り除き、ストロークのカラーはフォントカラーを継承 */
  stroke: currentColor;
  fill: none;
  /* 丸みを帯びたストローク */
  stroke-linecap: round;
  stroke-linejoin: round;
}

/* width属性のないSVGのサイズを設定 */
:where(svg):where(:not([width])) {
  inline-size: 5rem;
}

/* フォーム内のタイポグラフィのスタイルを削除 */
:where(input, button, textarea, select),
:where(input[type=file])::-webkit-file-upload-button {
  color: inherit;
  font: inherit;
  font-size: inherit;
  letter-spacing: inherit;
}

/* textareaのサイズ変更は垂直のみにし、ブラウザがサポートしている場合にのみblockにします */
:where(textarea) {
  resize: vertical;
}

@supports (resize: block) {
  :where(textarea) {
    resize: block;
  }
}
/* テキストのオーバーフローを回避 */
:where(p, h1, h2, h3, h4, h5, h6) {
  overflow-wrap: break-word;
}

/* article、aside、nav、section内のh1フォントサイズを修正 */
h1 {
  font-size: 2em;
}

/* リストの役割をするul、ol要素のリストスタイルを削除。デフォルトのスタイルが削除されることを示唆しています */
:where(ul, ol) {
  list-style: none;
}

/* クラスを持たないアンカータグに、より読みやすい下線スタイルを設定。アンカータグに設定することもできますが、コンフリクトを引き起こす可能性があります */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* インタラクティブな要素は適切なカーソルを設定して操作できることを明確にする */
:where(a[href], area, button, input, label[for], select, summary, textarea, [tabindex]:not([tabindex*="-"])) {
  cursor: pointer;
  touch-action: manipulation;
  text-decoration: none;
}

:where(input[type=file]) {
  cursor: auto;
}

:where(input[type=file])::-webkit-file-upload-button {
  cursor: pointer;
}

:where(input[type=file])::-webkit-file-upload-button,
:where(input[type=file])::file-selector-button {
  cursor: pointer;
}

/* フォーカスのアウトラインをアニメーション化 */
:where(:not(:active)):focus-visible {
  outline-offset: 5px;
}

/* ユーザーがボタンのテキストを選択できないようにする */
:where(input[type=file])::-webkit-file-upload-button {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
          user-select: none;
  text-align: center;
}
:where(button, button[type], input[type=button], input[type=submit], input[type=reset]),
:where(input[type=file])::-webkit-file-upload-button,
:where(input[type=file])::file-selector-button {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
          user-select: none;
  text-align: center;
}

/* 無効化されたボタンには無効化されたカーソルを表示 */
:where(button, button[type], input[type=button], input[type=submit], input[type=reset])[disabled] {
  cursor: not-allowed;
}

:where(iframe[src*=youtube]) {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

.is-pc {
  display: block;
}

.is-sp {
  display: none;
}

[data-anim-elm] {
  opacity: 0;
}

[v-cloak] {
  display: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}

button {
  outline: none;
  background: none;
}

.cta_link {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9;
  opacity: 0;
  pointer-events: none;
  text-align: center;
  width: 100%;
}
.cta_link.is-active {
  opacity: 1;
  pointer-events: auto;
}
.cta_link.is-active.is-footer {
  opacity: 0;
  pointer-events: none;
}
.cta_link__button {
  display: block;
  max-width: 580px;
  margin-inline: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans JP", Helvetica, Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", 游ゴシック, "Yu Gothic ", YuGothic, Osaka, メイリオ, Meiryo, "MS Pゴシック", "MS P Gothic", sans-serif;
  background: #fff;
}

a {
  transition-property: all;
  transition: 0.2s linear;
}

.footer_block {
  background: #000;
}
.footer_block__inner {
  max-width: 1240px;
  width: 100%;
  margin-inline: auto;
  padding: 113px 20px 52px;
}
.footer_block__head {
  display: flex;
  justify-content: space-between;
}
.footer_block__logo {
  width: 332px;
}
.footer_block__list {
  display: flex;
  align-items: center;
  gap: 33px;
}
.footer_block__item {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 3.25px;
}
.footer_block__item a {
  color: #6c6c6c;
}
.footer_block__foot {
  color: #fff;
  text-align: right;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 1.65px;
  margin-top: 78px;
}

.header_block {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.header_block__btn {
  width: 70px;
  margin-left: auto;
}

body {
  overflow-x: hidden;
}

.index_page {
  position: relative;
}
.index_page .header {
  width: 100%;
  position: absolute;
}
.index_page .header.fixed-flag {
  position: fixed;
  top: 0;
  z-index: 999;
}
.index_page .header.fixed-flag .header__innter {
  border: none;
}
.index_page .header .hamburger_block {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
  position: fixed;
  inset: 0;
  background: #fff;
  z-index: 10;
}
.index_page .header .hamburger_block.is-open {
  opacity: 1;
  visibility: visible;
}
.index_page .header .hamburger_block__close {
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin: 20px 20px 0 auto;
}
.index_page .header .hamburger_block__close::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background: #000;
  -webkit-clip-path: polygon(45% 0%, 55% 0%, 55% 45%, 100% 45%, 100% 55%, 55% 55%, 55% 100%, 45% 100%, 45% 55%, 0% 55%, 0% 45%, 45% 45%);
          clip-path: polygon(45% 0%, 55% 0%, 55% 45%, 100% 45%, 100% 55%, 55% 55%, 55% 100%, 45% 100%, 45% 55%, 0% 55%, 0% 45%, 45% 45%);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.index_page .header .hamburger_block__item {
  cursor: pointer;
}
.index_page .header__innter {
  border-top: #ccc solid 30px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-basis: auto;
  top: 0;
  padding: 0 40px;
  box-sizing: border-box;
}
.index_page .header__logo_sp {
  display: none;
}
.index_page .header__logo_sp img {
  transition: opacity 0.3s ease;
}
.index_page .header__btn_sp {
  display: none;
}
.index_page .topimage img {
  width: 100%;
}
.index_page .topimage_sp {
  display: none;
  position: relative;
}
.index_page .topimage_sp__menu {
  top: 3.8167938931vw;
  right: 3.8167938931vw;
  width: 13.4860050891vw;
  position: absolute;
}
.index_page .header-fixed {
  position: fixed;
  top: 0;
  z-index: 999;
}
.index_page .logo {
  box-sizing: border-box;
  padding-left: 40px;
  display: grid;
  place-items: top;
  width: 16%;
}
.index_page .logo.fixed-flag {
  position: fixed;
  top: 0;
  z-index: 999;
}
.index_page .logo.visible-coach img.red {
  opacity: 0;
}
.index_page .logo.visible-achievements img.red {
  opacity: 0;
}
.index_page .logo.visible-achievements img.orange {
  opacity: 0;
}
.index_page .logo.visible-plan img.red {
  opacity: 0;
}
.index_page .logo.visible-plan img.orange {
  opacity: 0;
}
.index_page .logo.visible-plan img.yellow {
  opacity: 0;
}
.index_page .logo.visible-faq img.red {
  opacity: 0;
}
.index_page .logo.visible-faq img.orange {
  opacity: 0;
}
.index_page .logo.visible-faq img.yellow {
  opacity: 0;
}
.index_page .logo.visible-faq img.green {
  opacity: 0;
}
.index_page .logo.visible-entry img.red {
  opacity: 0;
}
.index_page .logo.visible-entry img.orange {
  opacity: 0;
}
.index_page .logo.visible-entry img.yellow {
  opacity: 0;
}
.index_page .logo.visible-entry img.green {
  opacity: 0;
}
.index_page .logo.visible-entry img.sky {
  opacity: 0;
}
.index_page .logo.visible-contact img.red {
  opacity: 0;
}
.index_page .logo.visible-contact img.orange {
  opacity: 0;
}
.index_page .logo.visible-contact img.yellow {
  opacity: 0;
}
.index_page .logo.visible-contact img.green {
  opacity: 0;
}
.index_page .logo.visible-contact img.sky {
  opacity: 0;
}
.index_page .logo.visible-contact img.blue {
  opacity: 0;
}
.index_page .logo * {
  grid-area: 1/-1/1/-1;
}
.index_page .logo img {
  width: 100%;
  transition: opacity 0.5s ease;
}
.index_page .nav_bt {
  padding-right: 40px;
  margin-top: 50px;
  position: absolute;
  top: 0;
  right: 0;
}
.index_page .nav_bt.fixed-flag {
  position: fixed;
  top: 0;
  z-index: 999;
}
.index_page .nav_bt ul {
  display: flex;
}
.index_page .nav_bt ul li {
  padding-left: 20px;
}
.index_page .nav_bt ul li img {
  height: auto;
  vertical-align: bottom;
  width: 100%;
}
.index_page .nav_bt .bt01 {
  display: block;
  width: 54px;
}
.index_page .nav_bt .bt02 {
  display: block;
  width: 55px;
}
.index_page .nav_bt .bt03 {
  display: block;
  width: 120px;
}
.index_page .nav_bt .bt04 {
  display: block;
  width: 90px;
}
.index_page .nav_bt .bt05 {
  display: block;
  width: 31px;
}
.index_page .nav_bt .bt06 {
  display: block;
  width: 50px;
}
.index_page .nav_bt .bt07 {
  display: block;
  width: 76px;
}
.index_page .nav_bt .bt08 {
  position: relative;
  display: block;
  width: 25px;
  top: -8px;
}
.index_page .note {
  position: relative;
}
.index_page .note__inner {
  width: 100%;
  position: absolute;
  top: 30px;
  margin: auto;
  padding: 0 80px 0 400px;
}
.index_page .note__inner p {
  background: #e8b7b7;
}
.index_page .contents_box {
  width: 830px;
  margin: 0px auto;
  padding-top: 120px;
}
.index_page .top_contents_box {
  padding-top: 170px;
}
.index_page .titleblock_block {
  border-bottom: 1px solid;
  align-items: center;
  padding-right: 140px;
  width: 100vw;
  margin-right: calc(50% - 50vw);
}
.index_page .titleblock_block__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 830px;
}
.index_page .titleblock_block__inner p {
  font-size: 18px;
  font-family: "noto sans JP";
  padding: 0 0 6px 0;
}
.index_page .titleblock_block__title {
  font-size: 45px;
  line-height: 60.62px;
  letter-spacing: 7.2px;
  color: #231815;
}
.index_page .topmessage_block {
  padding: 30px 0 0;
  width: 830px;
}
.index_page .topmessage_block__title {
  font-size: 21px;
  font-family: "noto sans JP";
}
.index_page .topmessage_block__message {
  font-size: 17px;
  padding: 30px 0 50px;
  font-family: "noto sans JP";
  font-weight: bold;
  line-height: 30px;
}
.index_page .online_block {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 830px;
}
.index_page .online_block__title {
  font-size: 19px;
  font-weight: bold;
  padding: 30px 0 10px 0;
}
.index_page .online_block__title::before {
  content: "■";
  color: #c1272d;
}
.index_page .online_block__message {
  font-size: 13px;
  line-height: 25px;
}
.index_page .online_block__message span {
  color: #c30d23;
  font-weight: bold;
}
.index_page .online_block__comment {
  font-size: 11px;
  margin: 20px 0 20px;
  color: #ff0000;
}
.index_page .online_block__comment span {
  color: #c30d23;
  font-weight: bold;
}
.index_page .online_block__image {
  width: 400px;
  padding: 0 0 30px 0;
  margin: 0;
}
.index_page .online_block__detail {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.index_page .online_block__detail_block {
  width: 240px;
}
.index_page .online_block__detail_title {
  font-size: 16px;
  padding: 10px 0 23px 60px;
  font-weight: bold;
}
.index_page .online_block__detail_title span {
  font-size: 37px;
  display: block;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: #c30d23;
  text-align: center;
  line-height: 52px;
  color: #fff;
  margin: 0 0 -50px -60px;
}
.index_page .online_block__detail_text {
  font-size: 13px;
}
.index_page .features_block {
  width: 830px;
}
.index_page .features_block__title {
  font-size: 23px;
  color: #231815;
  display: flex;
  align-items: center;
  padding: 0 0 20px;
}
.index_page .features_block__title:after {
  content: "";
  height: 1px;
  flex-grow: 1;
  background-color: #666;
}
.index_page .features_block__title:after {
  margin-left: 1rem;
}
.index_page .features_block ul li {
  font-size: 18px;
  line-height: 39px;
  color: #231815;
}
.index_page .features_block ul li::before {
  content: "□";
  color: #c1272d;
}
.index_page .features_block__note {
  font-size: 14px;
  text-align: center;
  border: 1px solid;
  margin: 30px 0;
  padding: 15px 0;
}
.index_page .profile_block {
  display: flex;
  padding: 49px 0 42px;
}
.index_page .profile_block__nakasaka {
  width: 338px;
}
.index_page .profile_block__nakasaka p {
  font-size: 17px;
  padding: 0 0 17px 0;
}
.index_page .profile_block__nakasaka ul li {
  font-size: 17px;
  list-style-type: disc;
  margin: 0 0 4px 20px;
}
.index_page .profile_block__title {
  padding: 0 0 30px 0;
  font-size: 21px;
}
.index_page .profile_block__title span {
  font-size: 31px;
  display: block;
  padding: 0 0 8px 0;
}
.index_page .profile_block__image {
  display: flex;
}
.index_page .profile_block__image .swiper {
  background: #ddd;
  width: 235px;
}
.index_page .profile_block__image .swiper:first-child {
  margin: 0 21px 0 0;
}
.index_page .voice_block__title {
  font-size: 18px;
  display: flex;
  align-items: center;
  padding: 0 0 10px 0;
}
.index_page .voice_block__title:after {
  content: "";
  height: 1px;
  flex-grow: 1;
  background-color: #666;
}
.index_page .voice_block__title:after {
  margin-left: 1rem;
}
.index_page .voice_block__text {
  font-size: 13px;
  line-height: 25px;
}
.index_page .member_block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 45px 0 0;
}
.index_page .member_block__inner {
  width: 385px;
  padding: 0 0 55px;
}
.index_page .member_block__inner:nth-child(n+3) {
  padding: 0;
}
.index_page .member_block figure {
  width: 385px;
}
.index_page .member_block__text {
  width: 385px;
}
.index_page .member_block__name {
  display: flex;
  padding: 12px 0 0;
  align-items: flex-start;
  justify-content: space-between;
}
.index_page .member_block__name .title {
  font-weight: bold;
  padding: 0 0 23px 0;
}
.index_page .member_block__name .title .english {
  display: block;
}
.index_page .member_block__sns {
  width: 25px;
}
.index_page .member_block__messsage {
  font-size: 13px;
}
.index_page .about_block {
  padding: 45px 0 0;
}
.index_page .about_block__title {
  font-size: 18px;
  padding: 0 0 34px;
}
.index_page .about_block__text {
  font-size: 17px;
  padding: 0 0 40px 0;
}
.index_page .plandetail_block__title {
  font-size: 20px;
  padding: 0 0 20px;
}
.index_page .plandetail_block__title::before {
  content: "■";
}
.index_page .plandetail_block__tablescroll {
  overflow-x: scroll;
}
.index_page .plandetail_block table {
  border: 1px solid #000;
  margin: 0 0 23px;
}
.index_page .plandetail_block table tr,
.index_page .plandetail_block table td,
.index_page .plandetail_block table th {
  border: 1px solid #000;
  padding: 7px;
}
.index_page .plandetail_block__detail {
  counter-reset: my-counter;
  padding: 0 0 40px;
}
.index_page .plandetail_block__detail li {
  font-size: 15px;
  position: relative;
  padding: 0 0 0 23px;
  line-height: 27px;
}
.index_page .plandetail_block__detail li:before {
  content: counter(my-counter);
  counter-increment: my-counter;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 17px;
  width: 17px;
  position: absolute;
  top: 7px;
  left: 0px;
  font-size: 13px;
}
.index_page .plandetail_block__step {
  padding: 0 0 42px 0;
}
.index_page .plandetail_block__description {
  padding: 0 0 50px;
}
.index_page .plandetail_block__description dt {
  display: flex;
  height: 42px;
  border: 1px solid;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 0 34px;
  background: #999;
  color: #fff;
  font-size: 16px;
  margin: 0 0 26px;
  font-weight: bold;
}
.index_page .plandetail_block__description dt span {
  padding: 0 19px 0 0;
  position: relative;
  display: inline-block;
  margin: 0 19px 0 0;
}
.index_page .plandetail_block__description dt span::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 30px;
  background-color: #fff;
  position: absolute;
  top: -2px;
  right: -5px;
}
.index_page .plandetail_block__description dd {
  font-size: 15px;
}
.index_page .plandetail_block__step:last-child {
  padding: 0;
}
.index_page .plandetail_block__step:last-child li:last-child {
  padding: 0;
}
.index_page .plandetail_block:last-child {
  padding: 50px 0 0;
}
.index_page .faq_block {
  padding: 10px 0 0;
}
.index_page .faq_block li {
  border-bottom: 1px solid;
  margin: 0 0 35px 0;
}
.index_page .faq_block li dt {
  background: #e6e6e6;
  margin: 0 0 19px;
  display: flex;
  font-size: 17px;
  align-items: center;
  font-weight: bold;
}
.index_page .faq_block li dt span {
  display: flex;
  background: #ed1c24;
  color: #fff;
  height: 36px;
  width: 36px;
  justify-content: center;
  align-items: center;
  margin: 0 19px 0 0;
}
.index_page .faq_block li dd {
  padding: 0 0 16px;
  margin: 0 0 19px;
  display: flex;
  font-size: 17px;
  align-items: baseline;
}
.index_page .faq_block li dd span {
  display: flex;
  background: #000;
  color: #fff;
  height: 36px;
  width: 36px;
  justify-content: center;
  align-items: center;
  margin: 0 19px 0 0;
}
.index_page .faq_block li dd span img {
  width: 18px;
}
.index_page .faq_block li:last-child {
  border: none;
  padding: 0;
  margin: 0;
}
.index_page .faq_block li:last-child dd {
  margin: 0;
  padding: 0;
}
.index_page .formabout_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0 0;
}
.index_page .formabout_block__entry {
  width: 164px;
  height: 28px;
  color: #fff;
  background: #000;
}
.index_page .formabout_block p {
  font-size: 14px;
  font-weight: bold;
}
.index_page .formabout_block__notes {
  margin-top: 5px;
  font-weight: 500;
  display: block;
}
.index_page .formabout_block__entry {
  width: 164px;
  height: 28px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.index_page .formabout_block__entry span {
  padding: 0 0 0 20px;
  position: relative;
  display: inline-block;
  margin: 0 0 0 10px;
}
.index_page .formabout_block__entry span::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 13px;
  background-color: #fff;
  position: absolute;
  top: 5px;
  left: 5px;
}
.index_page .form_block .submit_bt {
  width: 100%;
}
.index_page .form_block .submit_bt button {
  margin-top: 30px;
  background: #000;
  color: #fff;
  width: 300px;
  font-weight: bold;
  line-height: 3.5em;
  text-align: center;
  margin-left: 146px;
}
.index_page .form_block table {
  margin: 45px 0 0;
}
.index_page .form_block table tr {
  margin: 0 0 28px;
  display: block;
}
.index_page .form_block table tr:last-child {
  margin: 0;
}
.index_page .form_block table th {
  width: 146px;
  text-align: left;
  padding: 0 35px 0 0;
  font-size: 13px;
  vertical-align: baseline;
}
.index_page .form_block table td input,
.index_page .form_block table td textarea {
  border: 1px solid;
  width: 330px;
  height: 36px;
  padding: 5px 10px;
  outline: none;
  resize: none;
}
.index_page .form_block table td .form_sex {
  display: inline-flex;
  align-items: center;
  flex-wrap: nowrap;
}
.index_page .form_block table td .form_sex span {
  margin-right: 30px;
  padding: 0 5px 0 0;
}
.index_page .form_block table td .form_sex input {
  width: 18px;
  margin: 3px 3px 0;
  border: 1px solid #000;
}
.index_page .form_block table td .form_sex .mwform-radio-field,
.index_page .form_block table td .form_sex .horizontal-item {
  display: contents;
}
.index_page .form_block table td .form_sex .mwform-radio-field > label,
.index_page .form_block table td .form_sex .horizontal-item > label {
  display: contents;
}
.index_page .form_block table td select {
  border: 1px solid #000;
  width: 330px;
  padding: 8px 10px;
  text-align: center;
  font-size: 13px;
}
.index_page .form_block table td .form_message {
  width: 680px;
  height: 164px;
}
.index_page .submit_message h3 {
  font-size: 17px;
  margin: 20px 0;
  padding-top: 15px;
  border-top: #cecece solid 1px;
}
.index_page .submit_message p {
  font-size: 14px;
  margin-bottom: 12px;
}
.index_page .footer {
  width: 100%;
  border-top: 5px solid #ddd;
  margin: 120px 0 0 0;
}
.index_page .footer__inner {
  max-width: 1125px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}
.index_page .footer__main {
  padding: 36px 0 0;
}
.index_page .footer__about {
  display: flex;
  align-items: center;
}
.index_page .footer__about .logo {
  width: 364px;
  height: 52px;
  padding-left: 0;
}
.index_page .footer__about .address {
  width: 364px;
  height: 32px;
  padding: 0 0 0 32px;
}
.index_page .footer__copyright {
  width: 226px;
  padding: 17px 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}
.index_page .footer__copyright .text {
  width: 119px;
  height: 11px;
  margin: 10px 0 0;
}
.index_page .footer__copyright .sign {
  width: 203px;
  height: 39px;
  margin: 15px 0 0;
}
.index_page .footer__copyright .privacy {
  width: 136px;
  height: 16px;
  margin: 16px 0 94px;
}
.index_page .footer__supported {
  padding: 27px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.index_page .footer__supported .title {
  width: 92px;
  height: 17px;
  margin: 0 50px 0 0;
}
.index_page .footer__supported .company_box {
  display: flex;
  align-items: center;
}
.index_page .footer__supported .company_01 {
  width: 79px;
  height: 43px;
}
.index_page .footer__supported .company_02 {
  width: 110px;
  height: 23px;
}
.index_page .footer__supported .company_03 {
  width: 227px;
  height: 28px;
}
.index_page .footer__supported .company_01,
.index_page .footer__supported .company_02 {
  margin: 0 50px 0 0;
}
.index_page .footer__bottom {
  background: #dcdcdc;
  padding: 23px 0 78px;
}
.index_page .footer__bottom .logo {
  width: 57px;
  height: 28px;
  padding: 0;
  margin: 0 0 0 20px;
}
.index_page .footer__bottom .inner {
  font-size: 13px;
  max-width: 1125px;
  margin: 0px auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/**
 * Swiper 8.4.7
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * https://swiperjs.com
 *
 * Copyright 2014-2023 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: January 30, 2023
 */
@font-face {
  font-family: "swiper-icons";
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA");
  font-weight: 400;
  font-style: normal;
}
:root {
  --swiper-theme-color: #007aff;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
}

.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  box-sizing: content-box;
}

.swiper-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-pointer-events {
  touch-action: pan-y;
}

.swiper-pointer-events.swiper-vertical {
  touch-action: pan-x;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */
.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: height, -webkit-transform;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform;
}

.swiper-backface-hidden .swiper-slide {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* 3D Effects */
.swiper-3d,
.swiper-3d.swiper-css-mode .swiper-wrapper {
  -webkit-perspective: 1200px;
          perspective: 1200px;
}

.swiper-3d .swiper-wrapper,
.swiper-3d .swiper-slide,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-cube-shadow {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15);
}

.swiper-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* CSS Mode */
.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}

.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}

.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-horizontal.swiper-css-mode > .swiper-wrapper {
  scroll-snap-type: x mandatory;
}

.swiper-vertical.swiper-css-mode > .swiper-wrapper {
  scroll-snap-type: y mandatory;
}

.swiper-centered > .swiper-wrapper::before {
  content: "";
  flex-shrink: 0;
  order: 9999;
}

.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  -webkit-margin-start: var(--swiper-centered-offset-before);
          margin-inline-start: var(--swiper-centered-offset-before);
}

.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  min-height: 1px;
  width: var(--swiper-centered-offset-after);
}

.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  -webkit-margin-before: var(--swiper-centered-offset-before);
          margin-block-start: var(--swiper-centered-offset-before);
}

.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  min-width: 1px;
  height: var(--swiper-centered-offset-after);
}

.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
  scroll-snap-stop: always;
}

.swiper-virtual .swiper-slide {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.swiper-virtual.swiper-css-mode .swiper-wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

.swiper-virtual.swiper-css-mode.swiper-horizontal .swiper-wrapper::after {
  height: 1px;
  width: var(--swiper-virtual-size);
}

.swiper-virtual.swiper-css-mode.swiper-vertical .swiper-wrapper::after {
  width: 1px;
  height: var(--swiper-virtual-size);
}

:root {
  --swiper-navigation-size: 44px;
  /*
  --swiper-navigation-color: var(--swiper-theme-color);
  */
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - var(--swiper-navigation-size) / 2);
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

.swiper-button-prev.swiper-button-hidden,
.swiper-button-next.swiper-button-hidden {
  opacity: 0;
  cursor: auto;
  pointer-events: none;
}

.swiper-navigation-disabled .swiper-button-prev,
.swiper-navigation-disabled .swiper-button-next {
  display: none !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 10px;
  right: auto;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "prev";
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 10px;
  left: auto;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "next";
}

.swiper-button-lock {
  display: none;
}

:root {
  /*
  --swiper-pagination-color: var(--swiper-theme-color);
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
  */
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 300ms opacity;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  z-index: 10;
}

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}

.swiper-pagination-disabled > .swiper-pagination,
.swiper-pagination.swiper-pagination-disabled {
  display: none !important;
}

/* Common Styles */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 10px;
  left: 0;
  width: 100%;
}

/* Bullets */
.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transform: scale(0.33);
          transform: scale(0.33);
  position: relative;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
  -webkit-transform: scale(0.66);
          transform: scale(0.66);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
  -webkit-transform: scale(0.33);
          transform: scale(0.33);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  -webkit-transform: scale(0.66);
          transform: scale(0.66);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  -webkit-transform: scale(0.33);
          transform: scale(0.33);
}

.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px));
  display: inline-block;
  border-radius: 50%;
  background: var(--swiper-pagination-bullet-inactive-color, #000);
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2);
}

button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}

.swiper-pagination-bullet:only-child {
  display: none !important;
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
}

.swiper-vertical > .swiper-pagination-bullets,
.swiper-pagination-vertical.swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0px, -50%, 0);
          transform: translate3d(0px, -50%, 0);
}

.swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: var(--swiper-pagination-bullet-vertical-gap, 6px) 0;
  display: block;
}

.swiper-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 8px;
}

.swiper-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  display: inline-block;
  transition: 200ms top, 200ms -webkit-transform;
  transition: 200ms transform, 200ms top;
  transition: 200ms transform, 200ms top, 200ms -webkit-transform;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
}

.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  white-space: nowrap;
}

.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 200ms left, 200ms -webkit-transform;
  transition: 200ms transform, 200ms left;
  transition: 200ms transform, 200ms left, 200ms -webkit-transform;
}

.swiper-horizontal.swiper-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 200ms right, 200ms -webkit-transform;
  transition: 200ms transform, 200ms right;
  transition: 200ms transform, 200ms right, 200ms -webkit-transform;
}

/* Progress */
.swiper-pagination-progressbar {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: left top;
          transform-origin: left top;
}

.swiper-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  -webkit-transform-origin: right top;
          transform-origin: right top;
}

.swiper-horizontal > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0;
}

.swiper-vertical > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-vertical,
.swiper-horizontal > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-horizontal.swiper-pagination-progressbar-opposite {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0;
}

.swiper-pagination-lock {
  display: none;
}

/* Scrollbar */
.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1);
}

.swiper-scrollbar-disabled > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-disabled {
  display: none !important;
}

.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%;
}

.swiper-vertical > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-vertical {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%;
}

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0;
}

.swiper-scrollbar-cursor-drag {
  cursor: move;
}

.swiper-scrollbar-lock {
  display: none;
}

.swiper-zoom-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.swiper-zoom-container > img,
.swiper-zoom-container > svg,
.swiper-zoom-container > canvas {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.swiper-slide-zoomed {
  cursor: move;
}

/* Preloader */
:root {
  /*
  --swiper-preloader-color: var(--swiper-theme-color);
  */
}

.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
  box-sizing: border-box;
  border: 4px solid var(--swiper-preloader-color, var(--swiper-theme-color));
  border-radius: 50%;
  border-top-color: transparent;
}

.swiper:not(.swiper-watch-progress) .swiper-lazy-preloader,
.swiper-watch-progress .swiper-slide-visible .swiper-lazy-preloader {
  -webkit-animation: swiper-preloader-spin 1s infinite linear;
          animation: swiper-preloader-spin 1s infinite linear;
}

.swiper-lazy-preloader-white {
  --swiper-preloader-color: #fff;
}

.swiper-lazy-preloader-black {
  --swiper-preloader-color: #000;
}

@-webkit-keyframes swiper-preloader-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes swiper-preloader-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/* a11y */
.swiper .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}

.swiper-free-mode > .swiper-wrapper {
  transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-grid > .swiper-wrapper {
  flex-wrap: wrap;
}

.swiper-grid-column > .swiper-wrapper {
  flex-wrap: wrap;
  flex-direction: column;
}

.swiper-fade.swiper-free-mode .swiper-slide {
  transition-timing-function: ease-out;
}

.swiper-fade .swiper-slide {
  pointer-events: none;
  transition-property: opacity;
}

.swiper-fade .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-fade .swiper-slide-active,
.swiper-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.swiper-cube {
  overflow: visible;
}

.swiper-cube .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
  visibility: hidden;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  width: 100%;
  height: 100%;
}

.swiper-cube .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-cube.swiper-rtl .swiper-slide {
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
}

.swiper-cube .swiper-slide-active,
.swiper-cube .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.swiper-cube .swiper-slide-active,
.swiper-cube .swiper-slide-next,
.swiper-cube .swiper-slide-prev,
.swiper-cube .swiper-slide-next + .swiper-slide {
  pointer-events: auto;
  visibility: visible;
}

.swiper-cube .swiper-slide-shadow-top,
.swiper-cube .swiper-slide-shadow-bottom,
.swiper-cube .swiper-slide-shadow-left,
.swiper-cube .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.swiper-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  z-index: 0;
}

.swiper-cube .swiper-cube-shadow:before {
  content: "";
  background: #000;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  -webkit-filter: blur(50px);
          filter: blur(50px);
}

.swiper-flip {
  overflow: visible;
}

.swiper-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
}

.swiper-flip .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-flip .swiper-slide-active,
.swiper-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.swiper-flip .swiper-slide-shadow-top,
.swiper-flip .swiper-slide-shadow-bottom,
.swiper-flip .swiper-slide-shadow-left,
.swiper-flip .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.swiper-creative .swiper-slide {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  transition-property: opacity, height, -webkit-transform;
  transition-property: transform, opacity, height;
  transition-property: transform, opacity, height, -webkit-transform;
}

.swiper-cards {
  overflow: visible;
}

.swiper-cards .swiper-slide {
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
}

@media screen and (769px <= width) {
  .cta_link {
    padding: 22px 20px 26px;
    background: rgba(255, 255, 255, 0.9);
  }
}

@media screen and (max-width: 768px) {
  .is-pc {
    display: none;
  }
  .is-sp {
    display: block;
  }
  .cta_link {
    bottom: calc(20 / 393 * 100vw);
  }
  .cta_link__button {
    max-width: calc(333 / 393 * 100vw);
  }
  html {
    font-size: calc(16 / 393 * 100vw);
  }
  .footer_block__inner {
    padding: calc(39 / 393 * 100vw) 20px calc(8 / 393 * 100vw);
  }
  .footer_block__head {
    flex-direction: column;
    align-items: center;
    gap: calc(27 / 393 * 100vw);
  }
  .footer_block__logo {
    width: calc(270 / 393 * 100vw);
  }
  .footer_block__list {
    gap: calc(20 / 393 * 100vw);
  }
  .footer_block__item {
    font-size: calc(12 / 393 * 100vw);
  }
  .footer_block__foot {
    text-align: center;
    font-size: calc(10 / 393 * 100vw);
    margin-top: calc(38 / 393 * 100vw);
  }
  .header_block {
    position: fixed;
  }
  .index_page .header {
    background: #ddd;
    height: 14.7582697201vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .index_page .header .hamburger_block__list {
    padding: calc(85 / 393 * 100vw) calc(35 / 393 * 100vw);
  }
  .index_page .header .hamburger_block__item + .hamburger_block__item {
    margin-top: calc(40 / 393 * 100vw);
  }
  .index_page .header .hamburger_block__item {
    font-size: calc(17 / 393 * 100vw);
    text-transform: uppercase;
    font-weight: 700;
    color: #000;
  }
  .index_page .header .hamburger_block__item--icon {
    width: calc(30 / 393 * 100vw);
  }
  .index_page .header .hamburger_block__item a {
    color: #000;
  }
  .index_page .header__innter {
    border-top: 0;
    padding: 0 2.7777777778vw;
    display: none;
  }
  .index_page .header__logo_sp {
    display: grid;
    place-items: center;
    height: 14.7582697201vw;
    width: 14.7582697201vw;
  }
  .index_page .header__logo_sp * {
    grid-area: 1/-1/1/-1;
  }
  .index_page .header__btn_sp {
    display: block;
    cursor: pointer;
    height: 6.106870229vw;
    width: 7.6335877863vw;
    margin-right: 5.0890585242vw;
  }
  .index_page .topimage {
    display: none;
  }
  .index_page .topimage_sp {
    width: 100%;
    display: block;
  }
  .index_page .topimage_sp img {
    width: 100%;
  }
  .index_page .logo {
    padding-left: 2.7777777778vw;
    display: none;
  }
  .index_page .nav_bt {
    padding-right: 2.7777777778vw;
    margin-top: 3.4722222222vw;
    display: none;
  }
  .index_page .nav_bt ul li {
    padding-left: 1.3888888889vw;
  }
  .index_page .nav_bt .bt01 {
    width: 3.75vw;
  }
  .index_page .nav_bt .bt02 {
    width: 3.8194444444vw;
  }
  .index_page .nav_bt .bt03 {
    width: 8.3333333333vw;
  }
  .index_page .nav_bt .bt04 {
    width: 6.25vw;
  }
  .index_page .nav_bt .bt05 {
    width: 2.1527777778vw;
  }
  .index_page .nav_bt .bt06 {
    width: 3.4722222222vw;
  }
  .index_page .nav_bt .bt07 {
    width: 5.2777777778vw;
  }
  .index_page .nav_bt .bt08 {
    width: 1.7361111111vw;
    top: -0.5555555556vw;
  }
  .index_page .note__inner {
    top: 2.0833333333vw;
    padding: 0 5.5555555556vw 0 27.7777777778vw;
  }
  .index_page .note__inner p {
    font-size: 0.9027777778vw;
  }
  .index_page .contents_box {
    width: 100%;
    padding: 12.7226463104vw 25px 0;
    box-sizing: border-box;
    margin: 0px auto;
  }
  .index_page .top_contents_box {
    margin-top: 8.3333333333vw;
  }
  .index_page .titleblock_block {
    width: auto;
    padding-right: 0;
    margin-right: 0;
  }
  .index_page .titleblock_block__inner {
    width: auto;
    flex-wrap: wrap;
  }
  .index_page .titleblock_block__inner p {
    font-size: 3.3078880407vw;
    padding: 2vw 0 3vw 0;
  }
  .index_page .titleblock_block__title {
    font-size: 8.3969465649vw;
    line-height: 8.3969465649vw;
    width: 100%;
  }
  .index_page .titleblock_block .long_text {
    font-size: 6.6157760814vw;
  }
  .index_page .topmessage_block {
    width: auto;
    padding: 7vw 0 0 0;
  }
  .index_page .topmessage_block__title {
    font-size: 4.0712468193vw;
  }
  .index_page .topmessage_block__message {
    font-size: 3.5623409669vw;
    padding: 5.0890585242vw 0 7.6335877863vw;
    line-height: 6.3613231552vw;
  }
  .index_page .online_block {
    width: auto;
  }
  .index_page .online_block__title {
    font-size: 4.0712468193vw;
  }
  .index_page .online_block__detail {
    display: block;
  }
  .index_page .online_block__detail_block {
    width: 100%;
    padding: 0 0 50px 0;
  }
  .index_page .features_block {
    width: auto;
  }
  .index_page .features_block__title {
    font-size: 4.3256997455vw;
  }
  .index_page .features_block ul li {
    font-size: 3.5623409669vw;
    padding: 0 0 3vw 0;
    line-height: 7vw;
  }
  .index_page .features_block__note {
    padding: 4vw;
  }
  .index_page .profile_block {
    flex-wrap: wrap;
    padding: 8vw 0 10vw;
  }
  .index_page .profile_block__nakasaka p {
    font-size: 3.8167938931vw;
    padding-bottom: 5vw;
  }
  .index_page .profile_block__nakasaka ul li {
    font-size: 3.8167938931vw;
  }
  .index_page .profile_block__title {
    padding-bottom: 5vw;
    font-size: 5.0890585242vw;
  }
  .index_page .profile_block__title span {
    font-size: 7.3791348601vw;
  }
  .index_page .profile_block__image .swiper {
    width: 50%;
    margin-top: 5vw;
  }
  .index_page .profile_block__image .swiper:first-child {
    margin: 5vw 3vw 0 0;
  }
  .index_page .voice_block__title {
    padding: 0 0 5vw 0;
  }
  .index_page .voice_block__text {
    font-size: 3.5623409669vw;
    line-height: 6.6157760814vw;
  }
  .index_page .member_block__inner {
    width: auto;
    padding: 0 0 12.7226463104vw;
  }
  .index_page .member_block__inner:nth-child(n+3) {
    padding: 0 0 12.7226463104vw;
  }
  .index_page .member_block__inner:nth-child(n+4) {
    padding: 0;
  }
  .index_page .member_block figure {
    width: 100%;
  }
  .index_page .member_block__text {
    width: auto;
    font-size: 3.5623409669vw;
    line-height: 6.6157760814vw;
  }
  .index_page .member_block__messsage {
    font-size: 3.5623409669vw;
    line-height: 6.6157760814vw;
  }
  .index_page .about_block {
    padding: 5vw 0 0;
  }
  .index_page .about_block__title {
    padding: 0 0 4vw;
  }
  .index_page .about_block__text {
    padding: 0 0 5vw;
    font-size: 3.5623409669vw;
    line-height: 6.6157760814vw;
  }
  .index_page .plandetail_block table {
    margin: 0px auto 7.6335877863vw;
    width: 220%;
  }
  .index_page .plandetail_block__detail li {
    font-size: 3.5623409669vw;
    line-height: 6.3613231552vw;
    padding: 0.5089058524vw 0 2.5445292621vw 6.3613231552vw;
  }
  .index_page .plandetail_block__description {
    padding: 0 0 6.3613231552vw;
  }
  .index_page .plandetail_block__description dt {
    height: 15.2671755725vw;
    padding: 0 0 0 5.0890585242vw;
    margin: 0 0 2.5445292621vw;
  }
  .index_page .plandetail_block__description dt span {
    padding: 0 2.5445292621vw 0 0;
  }
  .index_page .plandetail_block__description dt span::after {
    height: 11vw;
    top: -2vw;
    right: -5px;
  }
  .index_page .plandetail_block__description dd {
    font-size: 3.5623409669vw;
    line-height: 6.3613231552vw;
  }
  .index_page .faq_block {
    padding: 5.0890585242vw 0 0;
  }
  .index_page .faq_block li dt {
    align-items: baseline;
  }
  .index_page .faq_block li dt span {
    min-width: 10vw;
  }
  .index_page .faq_block li .long_text {
    padding: 0 2.5445292621vw 2.5445292621vw 0;
  }
  .index_page .faq_block li dd {
    align-items: flex-start;
  }
  .index_page .faq_block li dd span {
    min-width: 10vw;
  }
  .index_page .formabout_block {
    flex-wrap: wrap;
  }
  .index_page .formabout_block__entry {
    margin: 20px 0 0;
  }
  .index_page .form_block .submit_bt button {
    width: 100%;
    margin-left: 0;
  }
  .index_page .form_block table th {
    display: block;
  }
  .index_page .form_block table td input,
  .index_page .form_block table td textarea {
    width: 76.3358778626vw;
  }
  .index_page .form_block table td .form_message {
    width: 83.9694656489vw;
  }
  .index_page .frame_block {
    height: 343.5114503817vw;
  }
  .index_page .footer__inner {
    width: 100%;
    flex-wrap: wrap;
  }
  .index_page .footer__about {
    flex-wrap: wrap;
    margin: 0px auto;
    width: 80%;
  }
  .index_page .footer__about .logo {
    display: block;
    margin: 0 0 2.5445292621vw 0;
  }
  .index_page .footer__about .address {
    padding: 0;
  }
  .index_page .footer__copyright {
    justify-content: center;
    margin: 0 auto;
  }
  .index_page .footer__copyright .text {
    order: 3;
    margin: 0 0 12.7226463104vw 0;
  }
  .index_page .footer__copyright .sign {
    margin: 0 0 2.5445292621vw 0;
  }
  .index_page .footer__copyright .privacy {
    margin: 0 0 2.5445292621vw 0;
  }
  .index_page .footer__supported {
    margin: 0px auto;
    flex-direction: column;
    padding: 12.7226463104vw 0 0;
  }
  .index_page .footer__supported .title {
    padding: 0;
    margin: 0 0 20px;
  }
  .index_page .footer__supported .company_box {
    align-items: self-start;
  }
  .index_page .footer__supported .company_01 {
    width: 15.2671755725vw;
  }
  .index_page .footer__supported .company_02 {
    width: 22.9007633588vw;
  }
  .index_page .footer__supported .company_03 {
    width: 45.8015267176vw;
  }
  .index_page .footer__supported .company_01,
  .index_page .footer__supported .company_02 {
    padding: 0;
    margin: 0 2.5445292621vw 0 0;
  }
  .index_page .footer__bottom .logo {
    margin: 0;
  }
  .index_page .footer__bottom .inner {
    width: 80%;
    margin: 0px auto;
  }
}

@media (hover: hover) and (pointer: fine) {
  a:hover {
    -webkit-filter: brightness(1.1);
            filter: brightness(1.1); /* 明るくする */
  }
}

@media (prefers-reduced-motion: no-preference) {
  html:focus-within {
    scroll-behavior: smooth;
  }
  :focus-visible {
    transition: outline-offset 145ms cubic-bezier(0.25, 0, 0.4, 1);
  }
  :where(:not(:active)):focus-visible {
    transition-duration: 0.25s;
  }
}